.container {
  padding: 0 40px;
}

.container__info {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.info {
  width: 100%;
  max-width: 400px;
}

.info__title {
  font-size: 18px;
  font-weight: 600;
}

.info__description {
  text-align: justify;
}
