.day,
.note__day {
  flex: 1;
  height: 110px;
  padding: 5px;
  border: 1px solid rgb(216 216 217);
}

.note__day {
  background: rgba(75, 198, 255, 0.5);
}

.note {
  font-size: 18px;
  font-weight: 500;
}
